check refs

Do a pass over references and decide what needs to be kept/dropped/updated/added.

In particular, we have a normative dependency on EDN which may not be needed, I think.

> In particular, we have a normative dependency on EDN which may not be needed, I think.

`{{Section 8 of RFC8949}}`